{% extends "base.html" %}
{% block contents %}
	<div class="jumbotron">
		<h1 class="display-4">ABOUT <img src="../static/img/7.jpg" width="700px" align="right" border="5"/></h1><br>
		<p class="lead">Lokasi Perpustakaan<br>
			Kos Haji Sulam<br>
			Jl. Mangga 2 no 98<br>
			Bandung 40257 Indonesia<br>
			 +62 821-6559-4652<br>
			 +62 822-2555-1615<br>
			 koshaji@perpustercinta.com<br>
			 <br>
			Waktu operasional<br>
			
			Senin - Jumat :          
			08:00 - 19:00<br>
			Sabtu : 
			08:00 - 13:00<br>
			</p>
			<br>
			<br>
			<br>
			<br>
			<br><p>Tim Pembuat  : </p>
			<table border="3">
				<tr>
					<td width="50px">No</td>
					<td width="250px">Nama</td>
					<td width="250px">Nim</td>
					<td width="250px">Kelas</td>
				</tr>
				<tr>
					<td width="50px">1</td>
					<td width="250px">Muhammad Atalarik Syach Ajay</td>
					<td width="250px">1101208519</td>
					<td width="250px">TTX-44-01</td>
				</tr>
				<tr>
					<td width="50px">2</td>
					<td width="250px">Goki Folder Rudianto Purba</td>
					<td width="250px">1101208510</td>
					<td width="250px">TTX-44-01</td>
				</tr>
				<tr>
					<td width="50px">3</td>
					<td width="250px">Nicholas Teja Pratama</td>
					<td width="250px">1101208523</td>
					<td width="250px">TTX-44-01</td>
				</tr>
			</table>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
	  </div>
	  


{% endblock contents %}





